<!DOCTYPE html>
<html>
<head>
    <title>{{ todo_list.name }}</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_list.name }}</h1>
            <p><a href="{% url 'todo_list_update' todo_list.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' todo_list.id %}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <th>Task</th>
                    <th>Due Date</th>
                </thead>
                <tbody>
                    {% comment %} how to do the for loops? know exactly what to write? {% endcomment %}
                    {% for item in todo_list.items.all %}
                    <tr>
                        <td>
                        <a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a>
                        </td>

                        <td>
                        {{ item.due_date|date:"M d, Y" }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
